<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">

  <ul class = "navbar-nav">
    <li class="nav-item">
      <a routerLink="doctor" routerLinkActive="active" class="nav-link"> Add Docotr</a>
    </li>
    <li class="nav-item">
      <a routerLink="patient" routerLinkActive="active" class="nav-link"> Add Patient</a>
    </li>
    <li class="nav-item">
      <a routerLink="getpatient" routerLinkActive="active" class="nav-link"> Get Patient</a>
    </li>
    <li class="nav-item">
      <a routerLink="getdoctor" routerLinkActive="active" class="nav-link"> Get Doctor</a>
    </li>
  </ul>
</nav>

<div class="container">
  <router-outlet> </router-outlet>
</div>

<footer class="footer">
  <div class="container">
    <span>All RIGHT RESERVED @SANJAY</span>
  </div>
</footer>